.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a3144; /* neon green */
  padding: 15px 40px;
  position: relative;
   position: sticky; /* <-- change this */
  top: 0;            /* <-- REQUIRED for sticky */
  z-index: 1000; 
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.logo span {
  font-weight: 400;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li  {
  text-decoration: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.nav-links li:hover{
  color: #00ffcc; 
}
.nav-links li.active {
  border-bottom: 2px solid white;
  font-weight: bold;
  color: white;
}

.logout-btn {
  background-color: transparent;
  color: red;
  padding: 8px 16px;
  border:2px solid red;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3 ease;
}
.logout-btn:hover{
   background-color: red;
  color: white;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  transform: scale(1.05);
}

